---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Info from "../components/Info.astro";
import VolunteerProjects from "../components/VolunteerProjects.astro";
import Signupform from "../components/Signupform.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Hero />

  <section>
    <Info />
  </section>

  <section>
    <VolunteerProjects />
  </section>

  <section>
    <Signupform />
  </section>

  <section>
    <Footer />
  </section>
</Layout>; ---
