---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import VolunteerProjects from "../components/VolunteerProjects.astro";
import Signupform from "../components/Signupform.astro";
import Footer from "../components/Footer.astro";

<Layout>
  <Hero />

  <section>
    <h2>Frivillige projekter</h2>
    <VolunteerProjects />
  </section>

  <section>
    <Signupform />
  </section>

  <section>
    <Footer />
  </section>
</Layout>;
---
