---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import VolunteerProjects from "../components/VolunteerProjects.astro";
import Signupform from "../Signupform.astro";
---

<Layout>
  <Hero />

  <section>
    <h2>Frivillige projekter</h2>
    <VolunteerProjects />
  </section>

  <section>
    <Signupform />
  </section>
</Layout>; ---
