<section>
  <img src="../../billeder/hero.jpeg" alt="Frivillige hjælper hjemløse" />
  <div>
    <h2>STØT HJEMLØSE OG UDSATTE</h2>
    <p>BLIV FRIVILLIG</p>
    <a href="#signup">Tilmeld dig</a>
  </div>
</section>
