<section id="signup">
  <h2>Overvejer du at blive frivillig?</h2>
  <p>Udfyld formularen, så kontakter vi dig</p>

  <form action="">
    <input type="text" placeholder="Navn" />
    <input type="email" placeholder="Email" />
    <input type="text" placeholder="Telefon" />
    <button type="submit">Tilmeld</button>
  </form>
</section>

<style></style>
